services:
  redis:
    image: falkordb/falkordb:edge
    container_name: redis
    ports:
      - "6379:6379"
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 500M
        reservations:
          cpus: "0.5"
          memory: 200M
    volumes:
      - redis-data:/data
    command: >
      redis-server
      --appendonly yes
    restart: unless-stopped

volumes:
  redis-data:
